<nav class="sidebar">
    <ul>
        <li><h2>Obecné</h2></li>
        <li><a href="/cs/info/history/">Dějiny Haudatenu</a></li>
        <li><h2>Geografie</h2></li>
        <li><a href="/cs/info/geography/islands/nortseari">Nortseari</a></li>
        <li><a href="/cs/info/geography/islands/sortseari">Sortseari</a></li>
        <li><a href="/cs/info/geography/islands/sjobergo">Sjöbergö</a></li>
        <li><a href="/cs/info/geography/islands/talviseari">Talviseari</a></li>
        <li><h2>Politika</h2></li>
        <li><a href="/cs/info/politics/parties/">Politické strany</a></li>
        <li><a href="/cs/info/politics/elections/presidential/2017/">Prezidentské volby 2017</a></li>
        <li><a href="/cs/info/politics/elections/parliamentary/2020/">Parlamentní volby 2020</a></li>
        <li><a href="/cs/info/politics/foreign/">Zahraniční politika</a></li>
        <li><h2>Ekonomika</h2></li>
        <li><a href="/cs/info/economy/pri/agriculture/">Zemědělství</a></li>
        <li><a href="/cs/info/economy/sec/mining/">Těžba</a></li>
        <li><a href="/cs/info/economy/sec/energetics/">Energetika</a></li>
        <li><a href="/cs/info/economy/ter/transport/">Doprava</a></li>
        <li><a href="/cs/info/economy/ter/tourism/">Turismus</a></li>
        <li><a href="/cs/info/economy/qua/computing/">Informační technologie</a></li>
    </ul>
</nav>