<nav class="sidebar">
    <ul>
        <li><h2>Dějiny</h2></li>
        <li><a href="/cs/info/history/hautasaari/">Hautasaari</a></li>
        <li><a href="/cs/info/history/northavn/">Northavnská unie</a></li>
        <li><a href="/cs/info/history/varjag/">Varjagské Hautasaari</a></li>
        <li><a href="/cs/info/history/postvarjag/">Povarjagská fragmentace</a></li>
        <li><a href="/cs/info/history/republic/">Hautasaarijská republika</a></li>
        <li><a href="/cs/info/history/swedish/">Hautasaarijské knížectví</a></li>
        <li><a href="/cs/info/history/independent/">Nezávislé Haudatasaari</a></li>
        <li><a href="/cs/info/history/russian/">Hautasaarijské velkoknížectví</a></li>
        <li><a href="/cs/info/history/haudaten/">Haudatenská republika</a></li>
    </ul>
</nav>