<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% include "layouts/_stylesheet.html" %}
		<title>{{ title }}</title>
	</head>
	<body>
		{% include "layouts/cs_topnav.html" %}
		<div class="twoColumn">
			{% include sidebar %}
			<article class="entry">
				<div class="header">
					<p class="aboveH1">{{ aboveHeading }}</p>
					<h1>{{ heading }}</h1>
				</div>
	    		{{ content | safe }}
			</article>
			{% include "layouts/cs_footer.html" %}
		</div>
	</body>
</html>