<nav class="topContainer">
    <div class="topnav">
        <a href="/cs/"><b>Domů</b></a>
        <a href="/cs/info/history/">Dějiny</a>
        <a href="/cs/info/geography/">Geografie</a>
        <a href="/cs/info/politics/">Politika</a>
        <a href="/cs/info/economy/">Ekonomika</a>
        <a href="/cs/info/demographics/">Demografie</a>
        <a href="/cs/info/language/">Jazyk</a>
        <a href="/cs/info/culture/">Kultura</a>
        <a href="/cs/info/law/">Zákon</a>
    </div>
</nav>